################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SecureCash_ATM_Web_App/.vs/SecureCash_ATM_Web_App
